<%include ./partials/header%>  
<div class="container" style="margin-top:50px">
<h1>Home Page week4 Assigment</h1>
<a href="/contacts" class="btn btn-info">Contacts Page</a>
</div>
<% include ./partials/footer %>